<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>마이페이지 리뷰 상세조회</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
	#content_1, #content_3 {width: 15%;}
	#content_2 {width: 70%;}
	
	/* 리뷰 상세내역 전체 영역 */
	#reviewDetail {
		border: 1px solid red;
		margin: auto;

	}
	
	
</style>

</head>
<body>
	
	<jsp:include page="header.jsp" />
	
	<div id="content">
	<div id="content_1">왼쪽여백</div>
	
	<!--컨텐츠작성부분-->
	<div id="content_2">
		
		<div id="reviewDetail">
			<table>
				<tr>
					<th>공간명</th>
					<th>평점</th>
				</tr>
				<tr>
					<td>신대방 파티룸</td>
					<td>⭐⭐⭐⭐</td>
				</tr>
				<tr>
					<th colspan="2">사진</th>					
				</tr>
				<tr>
					<td>
						<img src="../../../resources/images/166028706_.jpg">
						<img src="../../../resources/images/166028706_.jpg">
						<img src="../../../resources/images/166028706_.jpg">
					</td>
				</tr>
				<tr>
					<th>내용</th>
				</tr>
				<tr>
					<td>
					파티룸 상태가 너무 깔끔해요.<br>
					다음에 친구들이랑 또 방문해서 재밌게 놀고싶어요.
					</td>
				</tr>
			</table>

		</div>

	</div>
	
	<div id="content_3">오른쪽여백</div>
	</div>
	
	<jsp:include page="footer.jsp" />
	
</body>
</html>