<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<!-- MEMBER 테이블로부터 조회된 내용을 Member 타입으로 가공해주는 ResultMap -->
	<resultMap id="memberResultSet" type="member">
		<result column="MEM_NO" property="memNo" />
		<result column="MEM_ID" property="memId" />
		<result column="MEM_PWD" property="memPwd" />
		<result column="MEM_NAME" property="memName" />
		<result column="GENDER" property="gender" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="NICKNAME" property="nickname" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="PROFILE_PATH" property="profilePath" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="HOST_STATUS" property="hostStatus" />
		<result column="BANK_NAME" property="bankName" />
		<result column="ACCOUNT_NUM" property="accountNum" />
		<result column="BLACKLIST_YN" property="blacklist" />
		<result column="BLACKLIST_REASON" property="blacklistReason" />
		<result column="MEM_STATUS" property="memStatus" />
		<result column="GR_CODE" property="grCode" />
	</resultMap>

	<!-- 로그인용 쿼리문 -->
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEM_ID = #{memId}
		  AND MEM_PWD = #{memPwd}
		  AND MEM_STATUS = 'N'
	<!-- 
		암호화 작업 후
		평문이 같더라도 매번 암호문이 다르게 나오기 때문에 비밀번호 관련 일치 조건을 기술 불가 
		=> 오로지 아이디만을 회원을 조회 (PK)
	
		SELECT *
		FROM MEMBER
		WHERE USER_ID = #{userId}
		  AND STATUS = 'Y'
	-->
	</select>
	
	<!-- 회원가입용 쿼리문 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (MEM_NO
						  , MEM_ID
						  , MEM_PWD
						  , MEM_NAME
						  , GENDER
						  , BIRTHDAY
						  , NICKNAME
						  , PHONE
						  , EMAIL)
					VALUES (SEQ_MNO.NEXTVAL
						  , #{memId}
						  , #{memPwd}
						  , #{memName}
						  , #{gender}
						  , TO_DATE(#{birthday}, 'YYYYMMDD')
						  , #{nickname}
						  , #{phone}
						  , #{email})
	</insert>
	
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		   SET MEM_NAME = #{memName}
		     , EMAIL = #{email}
		     , PHONE = #{phone}
		 WHERE MEM_NO = #{memNo}
	</update>
	
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE MEM_ID = #{memId}
	</update>
	
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEM_ID = #{checkId}
	</select>
</mapper>
