<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<resultMap id="reviewResultSet" type="review">
		<result column="RESERVE_NO" property="reserveNo" />
		<result column="SPACE_TITLE" property="spaceTitle" />
		<result column="REVIEW_CONT" property="reviewCont" />
		<result column="RATING" property="rating" />
		<result column="REVIEW_ENROLL_DATE" property="reviewEnrollDate" />
		<result column="REVIEW_NO" property="reviewNo" />
	</resultMap>
	<!-- 리스트조회 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE REVIEW_STATUS = 'N'
	</select>
	
	<select id="selectList" resultMap="reviewResultSet" parameterType="_int">
		SELECT
		A.REVIEW_NO
		, C.RESERVE_NO		--예약번호
		, B.SPACE_TITLE		--공간장소
		, A.REVIEW_CONT		--리뷰내용
		, A.RATING			--평점
		, TO_CHAR(A.REVIEW_ENROLL_DATE, 'YYYY-MM-DD') AS REVIEW_ENROLL_DATE		--작성일자
		FROM 
		REVIEW A
		INNER JOIN SPACE B
		ON A.SPACE_NO = B.SPACE_NO
		INNER JOIN RESERVE C
		ON B.SPACE_NO = C.SPACE_NO
		WHERE
		A.MEM_NO = #{memNo}
		AND REVIEW_STATUS = 'N'
		ORDER BY REVIEW_NO DESC
	</select>
	
	<!--상세페이지-->
	<select id="selectReview" parameterType="_int" resultMap="reviewResultSet"> 
		SELECT 
		A.REVIEW_NO AS "REVIEW_NO"
		, B.SPACE_TITLE --공간명
		, A.RATING --평점
		, TO_CHAR(A.REVIEW_ENROLL_DATE, 'YYYY-MM-DD') AS REVIEW_ENROLL_DATE --등록일
		, A.REVIEW_CONT --내용
		FROM REVIEW A
		INNER JOIN SPACE B
		ON A.SPACE_NO = B.SPACE_NO
		WHERE
		A.Review_No = #{reviewNo}
	</select>  
	
	<!-- 삭제 -->
	<update id="deleteReview" parameterType="_int">
		UPDATE REVIEW
		   SET REVIEW_STATUS = 'Y'
		 WHERE REVIEW_NO = #{reviewNo}
	</update>
	
	<!-- 업데이트 -->
	<update id="updateReview" parameterType="review">
		UPDATE REVIEW
		   SET 
		      RATING = #{rating},
		      REVIEW_CONT = #{reviewCont}
		 WHERE REVIEW_NO = #{reviewNo}
	</update>
	
	<!-- 	정현 start -->
	<!-- 	호스트 나의 소유 공간 리스트 set  -->
	<resultMap id="spaceTitleSet" type="space">
		<result column="SPACE_NO" property="spaceNo" />
		<result column="SPACE_TITLE" property="spaceTitle" />
	</resultMap>
	
	<resultMap id="hostReviewListSet" type="review">
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="REVIEW_CONT" property="reviewCont" />
		<result column="REVIEW_ENROLL_DATE" property="reviewEnrollDate" />
		<result column="RATING" property="rating" />
		<result column="REVIEW_ATTACH1" property="reviewAttach1" />
		<result column="REVIEW_ATTACH2" property="reviewAttach2" />
		<result column="REVIEW_ATTACH3" property="reviewAttach3" />
		<result column="HOST_ANSWER" property="hostAnswer" />
		<result column="RESERVE_NO" property="reserveNo" />
		<collection property="space" ofType="space" >
			<result column="SPACE_TITLE" property="spaceTitle" />
		</collection>
		<collection  property="member" ofType="member" >
			<result column="MEM_NAME" property="memName" />
		</collection>
	</resultMap>	

	<!-- 	공간 타입 리스트 전체 선택 -->
	<select id="selectMySpaceList" parameterType="_int" resultMap="spaceTitleSet">
		SELECT SPACE_NO, SPACE_TITLE
		FROM SPACE
		WHERE HOST_NO = #{memNo}
	</select>

	<!-- 호스트 이용후기 관리 리스트  개수 -->
	<select id="selectHostReviewListCount" parameterType="_int" resultType="_int">    
      SELECT COUNT(*)
       FROM (
       SELECT REVIEW_NO
       FROM REVIEW R
       JOIN MEMBER M ON R.MEM_NO = M.MEM_NO
       JOIN RESERVE V ON R.RESERVE_NO = V.RESERVE_NO
       JOIN SPACE S ON V.SPACE_NO = S.SPACE_NO
       WHERE S.SPACE_NO IN (
                    SELECT SPACE_NO
                    FROM SPACE
                    WHERE HOST_NO = #{memNo})
     AND REVIEW_STATUS = 'N'
      )
      
	</select>
	<!-- 	호스트 이용후기 관리 리스트-->
	<select id="selectHostReviewList" parameterType="_int" resultMap="hostReviewListSet">
	   SELECT  REVIEW_NO
	   			, REVIEW_CONT
                , TO_CHAR(REVIEW_ENROLL_DATE, 'YYYY-MM-DD HH24:MI:SS') AS REVIEW_ENROLL_DATE
                , RATING
                , REVIEW_ATTACH1
                , REVIEW_ATTACH2
                , REVIEW_ATTACH3
                , HOST_ANSWER
                , M.MEM_NAME
                , S.SPACE_TITLE
                , V.RESERVE_NO
       FROM REVIEW R
       JOIN MEMBER M ON R.MEM_NO = M.MEM_NO
       JOIN RESERVE V ON R.RESERVE_NO = V.RESERVE_NO
       JOIN SPACE S ON V.SPACE_NO = S.SPACE_NO
       WHERE S.SPACE_NO IN (
                    SELECT SPACE_NO
                    FROM SPACE
                    WHERE HOST_NO = #{memNo}
       ) AND REVIEW_STATUS = 'N' ORDER BY REVIEW_NO DESC
	</select>
	<!-- 호스트 검색 이용후기 관리 리스트  개수 -->
	<select id="searchHostReviewListCount" parameterType="hashmap" resultType="_int">
	
  	   SELECT COUNT(*)
       FROM (
       SELECT REVIEW_NO
       FROM REVIEW R
       JOIN MEMBER M ON R.MEM_NO = M.MEM_NO
       JOIN RESERVE V ON R.RESERVE_NO = V.RESERVE_NO
       JOIN SPACE S ON V.SPACE_NO = S.SPACE_NO
       WHERE S.SPACE_NO IN (
                    SELECT SPACE_NO
                    FROM SPACE
                    WHERE HOST_NO = #{memNo})
      AND REVIEW_STATUS = 'N'
	<if test='!spaceTitle.equals("공간 전체")'>
	AND S.SPACE_TITLE = #{spaceTitle}
	</if>
	<if test='hostAnswer.equals("답글 있음")'>
	AND HOST_ANSWER IS NOT NULL
	</if>
	<if test='hostAnswer.equals("답글 없음")'>
	AND HOST_ANSWER IS NULL
	</if>
     	AND (M.MEM_NAME LIKE '%' || #{keyword} || '%'
       OR  V.RESERVE_NO LIKE '%' || #{keyword} || '%'))
       
	</select>
	<!-- 	호스트 검색 이용후기 관리 리스트-->
	<select id="searchHostReviewList" parameterType="hashmap" resultMap="hostReviewListSet">
	SELECT  REVIEW_NO
	   			, REVIEW_CONT
                , TO_CHAR(REVIEW_ENROLL_DATE, 'YYYY-MM-DD HH24:MI:SS') AS REVIEW_ENROLL_DATE
                , RATING
                , REVIEW_ATTACH1
                , REVIEW_ATTACH2
                , REVIEW_ATTACH3
                , HOST_ANSWER
                , M.MEM_NAME
                , S.SPACE_TITLE
                , V.RESERVE_NO
       FROM REVIEW R
       JOIN MEMBER M ON R.MEM_NO = M.MEM_NO
       JOIN RESERVE V ON R.RESERVE_NO = V.RESERVE_NO
       JOIN SPACE S ON V.SPACE_NO = S.SPACE_NO
       WHERE S.SPACE_NO IN (
                    SELECT SPACE_NO
                    FROM SPACE
                    WHERE HOST_NO = #{memNo}
       ) AND REVIEW_STATUS = 'N'
       <if test='!spaceTitle.equals("공간 전체")'>
		AND S.SPACE_TITLE = #{spaceTitle}
		</if>
		<if test='hostAnswer.equals("답글 있음")'>
		AND HOST_ANSWER IS NOT NULL
		</if>
		<if test='hostAnswer.equals("답글 없음")'>
		AND HOST_ANSWER IS NULL
		</if>
       AND (M.MEM_NAME LIKE '%' || #{keyword} || '%'
        OR  V.RESERVE_NO LIKE '%' || #{keyword} || '%')
        ORDER BY REVIEW_NO DESC
	</select>
	
	<!-- 	호스트 이용후기 답글 신청 -->
	<update id="updateReviewAnswer" parameterType="reserve">
		UPDATE RESERVE
	    SET RESERVE_STATUS = #{reserveStatus}
	     , DENY_MESSAGE = #{denyMessage}
		 WHERE RESERVE_NO = #{reserveNo}
	</update>
	
	<!-- 정현 End -->
	
	
</mapper>
