@charset "utf-8";


#main_display {
	width: 70%;
	min-width: 1200px;
	margin: 0 auto;
	justify-content: center;
}

#main_display {
	width: 70%;
}

#main_display>div {
	width: 100%;
}

#main_pic {
	width : 100%;
	height: 600px;
}

#main_pic > div {
	width: 100%;
	height: 100%;
}

#main_pic > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main_categoryBar {
	height: 140px;
}

#main_recommend {
	height: 400px;
}

#main_reviewZone {
 	height: 500px;
}

/* 카테고리바 *************************************************************************************/
#main_categoryBar{
	width: 800px;
	overflow: hidden;
	margin-top : 20px;
}

#prevBtn, #nextBtn{
	width: 10%;
	height: 100%;
	text-align: center;
	float: left;
	margin-left: 0px;
}

.slider {
	height: 100%;
	width: 100%;
	float:left;
}

.categoryBtn > * {
	padding: 35px 0px 35px 0px;
}


#main_category_bundle{
	position : relative;
	float: left;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.main_category {
	display : inline-block;
	width: 12%;
	height: 100%;
	margin: 0px 36.3px;
	box-sizing: border-box;
	border: 1px solid black;
}

.main_category > img {
	width: 100%;
	height: 80%;
	object-fit: cover;
}

.main_category > div {
	text-align: center;
}

/**/
/* 테마 *************************************************************************************/
#main_theme {
	margin-top: 150px;
	height: 220px;
}

#main_theme>table {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

#main_theme>table * {
	width: 50%;
	height: 50%;
	border: 1px solid black;
}

/* 추천바 *************************************************************************************/
#main_recommend {
	margin-top: 150px;
	width: 100%;
}

#main_recommend_title {
	height: 20%;
}

#main_recommend_title > div {
	width: 40%;
	margin: auto;
	text-align: center;
	height: 100%;
	
	font-size : 50px;
	font-weight: 900;
	color: #007bff;
}

#main_recommend_content {
	height: 80%;
}

#main_recommend_content>div {
	float: left;
	width: 30%;
	height: 100%;
	margin: auto;
}

.main_recommend_paging {
	width: 5% !important;
	padding: 141px 12px;
}

.main_recommend_thumbnail {
	height: 74%;
	width: 70%;
    margin: 0 auto;
}

.main_recommend_spaceName, .main_recommend_spacePrice {
	height: 13%;
	width: 80%;
	margin: 0 auto;
}

.main_recommend_card > div {
	border: 1px solid black;
}


/* 리뷰존 *************************************************************************************/

#main_reviewZone {
    width: 100%;
    margin: 150px 0px 150px 0px;
}

#main_reviewZone_title {
    height : 16%;
}

#main_reviewZone_content {
    height: 84%;
}

#main_reviewZone_content > div{
    float : left;
    width : 30%;
    height: 100%;
    margin: auto;
}

.main_reviewZone_paging {
    width : 5% !important;
    padding: 190px 12px;
}

.main_reviewZone_thumbnail {
    height: 59%;
    width: 70%;
    margin: 0 auto;
}

.main_reviewZone_spaceName, .main_reviewZone_star {
    height: 10%;
    width: 80%;
    margin: 0 auto;
}

.main_reviewZone_reviewContent {
    height : 20%;
    width: 80%;
    margin: 0 auto;
}

#main_reviewZone_title > div {
	width: 40%;
	margin: auto;
	text-align: center;
	height: 100%;
	
	font-size : 50px;
	font-weight: 900;
	color: #007bff;
}

.main_reviewZone_card > div {
	border: 1px solid black;
}

#map {
	width: 100%;
	height: 100%;
}