@charset "utf-8";

#search_display * {
    box-sizing: border-box;
}

#search_display {
    width: 100%;
    height : 775px;
}

#search_display > div {
    box-sizing: border-box;
    height: 775px;
    margin: 0 auto;
    float: left;
}

#spaceList {
    overflow: hidden;
    height: 100%;
    width: 40%;
    position: relative;
}

#map {
    width: 60%;
}

#listOption {
	padding: 10px 10px 10px 20px;
	height: 9%;
}

#listOption > div {
    display: inline-block;
    margin: 0 auto;
    margin-bottom : 5px;
}

#listOption > div :hover{
    cursor: pointer;
}

#listOption_listStyle {
    width : 150px;
    height : 70px;
}

#listOption > div{
    border: 4px solid rgb(96, 155, 204);
    border-radius: 15px;
}

.listOption_listStyle {
    width: 70px;
    height: 70px;
}

#listOption_filter {
    width: 100px;
    height: 70px;
    float: right;
}

.listOption_options {
	padding: 10px;
}

.listOption_options > img {
	width: 70%;
	height: 70%;
	object-fit: cover;
	margin: 0 auto;
}

#mapFilter {
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: white;
}

#mapFilter > div{
    width: 100%;
    height: 20%;
}

#mapFilter > div > div {
    box-sizing: border-box;
    height: 100%;
    float:left;
}

.mapFilter_option_title {
    width: 20%;
    height: 100%;
    
    font-size: 20px;
    color: #007bff;
    font-weight: 650;
    text-align: center;
    line-height: 3.5
}

#mapFilter_category {
    height: 40%;
}

#mapFilter_category_title {
    font-size : 25px;
    width: 20%;
}

#mapFilter_category_list{
    width: 80%;
}

#mapFilter_category_list > div{
    float: left;
    width: 10%;
    height: 50px;
}

#mapFilter_option_price {
    border : 0px;
}

.mapFilter_options {
    padding: 25px 0px 25px 0px;
}

#mapFilter_category_list {
    padding: 15px 0px 10px 0px;
}

#mapFilter_priceRange > input{
    width: 70px;
}

#mapFilter_btns {
    width : 100%;
    height: 100%;
    border-bottom: 0px;
}

.mapFilter_btn {
    float: left;
    margin: 5px 15px 5px 15px;
    border : 0px;
    width: 40%;
    height: 70%;
    border-radius : 15px;
}

form {
    padding: 5px;
    border :3px solid rgb(96, 155, 204);
    border-radius : 15px;
}

form > div {
    border-bottom : 1px solid black;
}

#picList, #lineList {
    width: 100%;
    height: 91%;
    overflow-y: scroll;
}


.picList_content > div {
    border: 1px solid black;
}

#picList > div {
    width:50%;
    float: left;
    height: 300px;
}

.picList_content {
    padding: 10%;
}

.picList_content_pic {
    height: 200px;
    padding: 20px;
}

#picList > #pic_pagination {
	width: 80%;
	height: 30px:
	float: bottom;
	margin: 0 auto;
}

.pic_pagination {
	float: left;
	margin: 0 auto;
	width: 32px;
	height: 32px;
	text-align: center;
}
/*게시판형 리스트*******************************/

#lineList > div {
    border: 1px solid black;
    margin : 40px 40px 40px 50px;
    height: 120px;
    width: 80%;
}

.lineList_content_spaceTitle {
    height: 45px;
    font-size : 25px;
    line-height: 1.5;
    padding-left: 3px;
}

.lineList_content_hashTag {
    height: 50px;
    font-size : 15px;
}

.lineList_content_price, .lineList_content_reviewCount, .lineList_content_bookMark {
    float:left;
    height: 30px;
    font-size : 15px;
}

.lineList_content_price {
    width: 50%;
}

.lineList_content_reviewCount { 
    width: 30%;
}

.line_pagination {
	float: left;
	margin: 0 5px 0 5px;
	width: 32px;
	height: 32px;
	text-align: center;
}

